@import "./Grid.scss";
@import "./Gutters.scss";
@import "./Align.scss";
@import "./Colors.scss";

body {
    font-size: 13.8px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 1.614;
    background: #E5E5E5;
}